:root {
    --bg-color-500: #111827;
    --bg-color-400: #1e2939;
    --accent-color: #5eead4;
}

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Styles */

body {
    background-color: var(--bg-color-500);
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    color: var(--accent-color);
    gap: 10px;
    border-bottom: 2px solid white;
    box-shadow: 0px 10px 19px 0px rgba(94,234,212,0.86);
-webkit-box-shadow: 0px 10px 19px 0px rgba(94,234,212,0.86);
-moz-box-shadow: 0px 10px 19px 0px rgba(94,234,212,0.86);
}

h1 {
    font-size: 2rem;
}

.wrapper {
    width: 80%;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 300px;
    height: 175px;
    background-color: var(--bg-color-400);
    border-radius: 25px;
    border: 3px solid var(--accent-color);
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 1.5rem;
    text-align: center;
}

.cardControls {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 20%;
}

.cardControls > button {
    width: 50%;
    outline: none;
    border: none;
    cursor: pointer;
}

.rmvBtn {
    background-color: #F43F5E;
    border-bottom-left-radius: 22px;
}

.readBtn {
    border-bottom-right-radius: 22px;
}

.read {
    background-color: #A3E635;
}

.unRead {
    background-color: #FBBF24;
}

.title {
    border-bottom: 2px solid var(--accent-color);
    margin-bottom: 10px;
    flex-wrap: wrap;
    padding: 3px;
}


#addBook {
    position: fixed;
    left: 90%;
    top: 90%;
    background: none;
    outline: none;
    border: none;
    color: var(--accent-color);
    cursor: pointer;
}

#addBook:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}

#addBook:active {
    color: #A3E635;
}

#addBook:focus {
    color: #A3E635;
}

.newBookPopUp {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

#formPopUp {
    border: 3px solid var(--accent-color);
    width: 550px;
    height: 275px;
    padding: 20px;
    background-color: var(--bg-color-400);
    border-radius: 25px;
    display: none;
    position: fixed;
    top: 25%;
    left: 35%;
    z-index: 10;
}

.formContainer {
   
}

label {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: right;
    margin-right:15px;
    float:left;
    height: 20px;
    width: 100px;
}

input {
    height: 20px;
    width: 300px;
    border: 1px solid var(--accent-color);
    background-color: #D4D4D4;
    margin-top: 10px;
    border-radius: 15px;
    font-size: 18px;
}

.formGroup {
    color: white;
    padding-bottom: 20px;

}

.formHeader {
    display: flex;
    justify-content: flex-end;
}

.formHeader > button {
    background: none;
    outline: none;
    border: none;
    color: var(--accent-color);
    cursor: pointer;
}

.formFooter {
    display: flex;
    justify-content: flex-end;
}

.submitBook {
    font-size: 18px;
    padding: 5px;
    border-radius: 8px;
    outline: none;
    color: var(--bg-color-400);
    border: none;
    background-color: var(--accent-color);
    cursor: pointer;
}